version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./docker/qdrant_storage:/qdrant/storage

  redis:
    image: redis:alpine
    ports:
      - "6380:6379"
    volumes:
      - ./docker/redis_data:/data
